* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    background: #0b1f16;
    color: #e8f5e9;
    padding: 30px;
}


header {
    width: 90%;
    max-width: 900px;
    margin: auto;
    padding: 25px;
    background: #132d22;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 25px rgba(0,0,0,0.5);
}


h1 {
    color: #a5d6a7;
}


#themeBtb {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background: #1b5e20;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

#themeBtb:hover {
    background: #2e7d32;
}



.add-books {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    background: #132d22;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.5);
}



#search {
    width: 100%;
    padding: 15px;
    background: #10261c;
    color: white;
    border: 1px solid #2e7d32;
    border-radius: 12px;
    outline: none;
}


#search::placeholder {
    color: #9eaaa0;
}



.add-book {
    display: flex;
    gap: 15px;
    margin-top: 25px;
    flex-wrap: wrap;
}


.add-book input {
    flex: 1;
    min-width: 200px;
    padding: 15px;
    background: #10261c;
    color: white;
    border: 1px solid #2e7d32;
    border-radius: 12px;
    outline: none;
}


.add-book input:focus,
#search:focus {
    border-color: #66bb6a;
}



.add-book button {
    padding: 15px 30px;
    background: #2e7d32;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}


.add-book button:hover {
    background: #43a047;
    transform: scale(1.05);
}



@media(max-width:600px){

    header,
    .add-books {
        width: 100%;
    }

    h1 {
        font-size: 25px;
    }

    .add-book {
        flex-direction: column;
    }

    .add-book button {
        width: 100%;
    }
}
